.card-container{
    height: 512px;
    width: 236px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    color: #282c34;
    margin: 10px 5px 5px 10px;
}
.card-image-container{
    margin: 20px auto;
    width: 200px;
    height: 200px;
}
.card-image{
    width: 200px;
    height: 200px;
}